# Website repo - HTML/CSS/JS ONLY
# Do NOT add any non-website files here

# Allow these
!.gitignore
!*.html
!*.css
!*.js
!*.json
!*.md
!/images/
!/css/
!/js/
!/pages/

# Block everything else
*
!.gitignore
!*/