# Website repo - HTML/CSS/JS ONLY
# Do NOT add any non-website files here

# Block everything else
*
!.gitignore
!CNAME
!*/

# Allow these
!*.html
!*.css
!*.js
!*.json
!*.md
!*.txt
!*.xml
!/images/
!/css/
!/js/
!/pages/

# Image files
!*.svg
!*.jpeg
!*.jpg
!*.png
!*.webp
!*.gif

# Anxiety Toolkit assets
!/tools/
!/tools/anxiety-toolkit.pdf
!/tools/generate_toolkit.py