# Website repo - HTML/CSS/JS ONLY
# Do NOT add any non-website files here

# Block everything else
*
!.gitignore
!*/

# Allow these
!*.html
!*.css
!*.js
!*.json
!*.md
!/images/
!/css/
!/js/
!/pages/

# Anxiety Toolkit assets
!/tools/
!/tools/anxiety-toolkit.pdf
!/tools/generate_toolkit.py